/* A div holding page contents */
#contents {
	margin-left: 5%;
}

/* Page Header*/
h1 {
	color: #d32300;
}

/* Styles boxes containing search results */
.search_result {
	margin-top: 1%;
	padding: 12px;
	float: left;
	width: 45%;
	background-color: #eee;
	border-radius: 3px;
}

/* Make every other box snap to the right hand side */
.search_result:nth-child(odd) {
	float: right;
	margin-right: 5%;
}

/* The first link in a box is the title (name) */
.search_result a:nth-child(1) {
	font-size: 2em;
	color: #222;
	text-decoration: none;
}